@model IEnumerable<ValorDoMinuto>

@{
    ViewData["Title"] = "Valor Do Minuto";
}

<div class="text-center">
    <h1 class="display-4">Valor Do Minuto</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Minutos</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Minutos</td>
                    <td>R$ @item.Valor</td>
                </tr>
            }
        </tbody>
    </table>
</div>